<p>✔ Spendenbescheinigung</p>
<p><strong>Sicher spenden:</strong></p>
<p>Deine Daten werden über eine verschlüsselte Verbindung (SSL) übertragen.</p>
<p>
  <img
      src="https://asset1.bp42.com/assets/ssl_logo_de@2x-acde253f2571149bbd96776995d56aec.png"
      width="30%">
</p>
