<p>✔ Spendenbescheinigung</p>
<p><strong>Sicher spenden:</strong></p>
<p>Deine Daten werden über eine verschlüsselte Verbindung (SSL) übertragen.</p>
<p><img src="/assets/ssl_logo_de.png" width="30%"></p>
