<div class="container">
  <div class="main-content-row">
    <div class="main-content-col">
      <header>
        <div class="betterplace-logo">
          <img src="https://asset1.bp42.com/assets/logos/orga-logo.betterplace-2e93df6e83c1d2e99f8511a2c49c5ec0.png" title="">
        </div>
        <h1 class="project-name">Skateistan Afghanistan</h1>
      </header>

      {{outlet}}

    </div>
  </div>
</div>
